body
{
    background-image:url("../image1/doggo.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}
#address{
    width:300px;
}
#dob{
    width:200px;
}
#password{
    width:400px;
}
#username{
width:400px;
}
#phone{
width:400px;
}
#email{
    width:400px;
}
.container{
    background-color:#2da3c079;
    width:470px;
    display:block;
    padding-top:20px;
    margin-left:auto;
    margin-right:auto;
    color:white;
}
.registerhome{
    opacity: 1;
    display:block;;
    margin-right:auto;
    padding-bottom: 20px;
    margin-left:auto;
}
.registertext{
    color:white;
}
.trans{
    opacity: 0.4;  
     filter: alpha(opacity=60);  
}